.body{
	font-family:Franklin Gothic Book;
	font-size: 16px;
}

.titulo{
text-align: center;
margin: 0px 150px;

}

*{
padding: 0px;
margin: 0px;

}
nav,header,.contenedor,.imagen, footer{
	max-width: 90%;
	margin: auto;

}
nav{
	background-color:  #005883;
	text-align: center;
	margin: 20px auto 20px auto;
}

header{
	color:   #005883;
	border: 3px solid;
	height: 130px;
	margin: 20px auto 20px auto;
	border-radius: 20px ;
	-moz-border-radius:20px ;
	-webkit-border-radius:20px ;
}
aside{
	display: inline-block;
	width:  260px;
	min-height: 585px;
	float: right;
}

footer{
	border: 3px solid;
	height: 200px;
	margin: 20px auto 20px auto;
	border-radius: 20px ;
	-moz-border-radius:20px ;
	-webkit-border-radius:20px ;
}

.menu li{
	display:inline-block;

}
li a,boton{
	display:inline-block;
	color: #b3b3b3;
	text-align: center;
	text-decoration:none;
	padding: 0.6em 89.2PX;
}
.listadesplegable{
	display:none;
	background-color: #333333;
	position: absolute;

}
.listadesplegable a{
	color: #b3b3b3;
	display:block;
	text-align: left;

}
.boton:hover .listadesplegable{
	display: block;
}

li a:hover{
	background-color: #333333;
}


 .tabla{
	background-color:  #F0B429;
	border: 3px solid;
	border-color:  #005883;
	height: 175px;
	margin: 20px auto 20px auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;

}

.tablaC{
	background-color:  #F0B429;
	border: 3px solid;
	border-color:  #005883;
	height: 320px;
	margin: 20px auto auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: center;

}
.tabla2{
	margin: 0px 80px;
	
}
#tabla3{
	color:   #005883;
	border: 3px solid;
	height: 130px;
	margin: 20px 60px 0px 60px;;
	border-radius: 20px ;
	-moz-border-radius:20px ;
	-webkit-border-radius:20px ;
}
.tabla4{
	margin: 8px 20px;
}
.tabla5{
	background-color:  #005883;
	color:   #b3b3b3;
	border: 3px solid;
	border-color: #F0B429;
	height: 327px;
	margin: auto 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}
.texto{
	margin: 20px 20px;
}
.texto2{
	margin: 9px 24px;
}
.imagen{
background-color: #b3b3b3;
color: #005883;
float:right;
border: 3px solid;
height: 593px;	
width: 350px;
border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
}

.tabla6{
	background-color: #005883;
	color: #b3b3b3;
	border: 3px solid;
	border-color:  #F0B429;
	height: 240px;
	margin: 20px 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}

.img{
	width: 200px; 
	height: 100px;
	margin: 40px 80px 4px 80px;
	display: block;

}
#audio{

	width: 400px; 
	height: 300px;
	margin: 60px 50px 0px 25px;
	display: block;

}
#audio2{

	width: 100px; 
	height: 300px;
	margin: 35px 40px 0px 220px;
	display: block;
}

#imagen2{
background-color: #b3b3b3;
color:  #005883;
border: 3px solid;
height: 570px;	
margin: 0px 58px 70px 60px;
border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
}

.tabla5C{
	color:#b3b3b3;
	background-color:  #005883;
	border: 3px solid;
	border-color:  #F0B429;
	height: 327px;
	margin: auto 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}
.tabla2C{
background-color: #b3b3b3;
	border: 3px solid;
	height: 170px;
	margin: auto 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}
.imagenC{
background-color: #b3b3b3;
color:  #005883;
float:right;
border: 3px solid;
border-color:   #005883;
height: 326px;	
width: 610px;
border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
}
.imagen2C{
background-color: #b3b3b3;
color:  #005883;
float:right;
border: 3px solid;
border-color:   #005883;
height: 303px;	
width: 610px;
margin: 20px auto auto auto;
border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
}
.imagen2C2{
color:  #005883;
background-color: #b3b3b3;
float:right;
border: 3px solid;
border-color:   #005883;
height: 408px;	
width: 610px;
margin: 20px auto auto auto;
border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
}
.tabla6C{
	background-color: #005883;
	color:   #b3b3b3;
	border: 3px solid;
	border-color:   #F0B429;
	height: 303px;
	margin: 20px 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}
.tabla6C2{
	background-color: #005883;
	color: #b3b3b3;
	border: 3px solid;
	border-color:   #F0B429;
	height: 408px;
	margin: 20px 640px auto auto;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;
}
.img2{
	width: 400px; 
	height: 200px;
	margin: 11px 60px 0px 100px;
	display: block;
}
.textoimagen{
	margin: 0px 98px;
}
.textoimagen1{
	margin: 0px 20px;
}
.recursos1{
	background-color:  #808080;
	border: 3px solid;
	border-color:  #005883;
	height: 500px;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius:20px 0px 20px 0px;
	-webkit-border-radius:20px 0px 20px 0px;
	text-align: justify;

}
#video{
	padding: 50px 300px 0px 240px;
	
}